@model MiniECommerce.Entity.Entities.Order
@{
    ViewData["Title"] = "Durum Güncelle";
}

<h2>Durumu güncellenecek sipariş:</h2>

<div>
    <h4>@Model.OrderNumber</h4>
    <form asp-action="UpdateStatus" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label>Durum Seç</label>
            <select asp-for="Status" class="form-select">
                <option value="Preparing">Preparing</option>
                <option value="Shipping">Shipping</option>
                <option value="Delivered">Delivered</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Güncelle</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>